<div class="background">

  <div class="container">
    <div class="vertical-center">
      <h1 class="fade-in-animation accent-color">Dakota Raymond</h1>
    </div>
    <div class="top-left">
      <h2 class="accent-color">About</h2>
    </div>
    <div class="top-right">
      <h2 class="accent-color">Projects</h2>
    </div>
    <div class="bottom-left">
      <h2 class="accent-color">Contact</h2>
    </div>
    <div class="bottom-right">
      <h2 class="accent-color">Blog</h2>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
