<div class="container">
  <div class="vertical-center">
    <h1 class="fade-in-animation accent-color">Dakota Raymond</h1>
  </div>
  <div class="top-left">
    <a routerLink="/about"
       routerLinkActive="active"
       class="accent-color">About</a>
  </div>
  <div class="top-right">
    <a routerLink="/projects"
       routerLinkActive="active"
       class="accent-color">Projects</a>
  </div>
  <div class="bottom-left">
    <a routerLink="/contact"
       routerLinkActive="active"
       class="accent-color">Contact</a>
  </div>
  <div class="bottom-right">
    <a routerLink="/blog"
       routerLinkActive="active"
       class="accent-color">Blog</a>
  </div>
</div>
